<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('bundles/mvbooking/css/style_5004.css') }}">
</head>
<body>
    %h1 {{ "Une erreur interne est survenue"|trans }}
    .post
    .outer
        .wrap
        -50.times do
        .error
</body>
</html>