/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Roboto");
.subtitle {
  color: #c4c4c4;
  font-size: 1em;
  font-weight: 100;
  font-family: "Roboto:black", sans-serif;
  margin-left: 40px; }
  @media (min-width: 500px) {
    .subtitle {
      text-align: center;
      margin: 10px auto; } }

form #date, form #dateen {
  border-radius: 20px;
  margin-left: 40px;
  margin-top: 80px;
  width: 300px;
  height: 30px;
  padding: 10px;
  font-size: 0.8em; }
  @media (min-width: 500px) {
    form #date, form #dateen {
      text-align: center;
      margin: 0 auto 0; } }
form #datealt {
  visibility: hidden; }
@media (min-width: 500px) {
  form {
    text-align: center;
    margin: 40px auto 0; } }

#flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 500px) {
    #flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  #flex #load {
    width: 1px; }
  #flex #check {
    margin-top: 90px;
    width: 40px;
    height: 40px; }
    #flex #check #valid, #flex #check #novalid {
      visibility: hidden; }
    #flex #check #novalid {
      position: relative;
      top: -30px;
      left: 0;
      right: 0; }
    @media (min-width: 500px) {
      #flex #check {
        margin: auto; } }
  @media (min-width: 500px) {
    #flex .ui-datepicker-append {
      margin: 10px auto;
      color: lightgrey;
      font-family: "Roboto:black", sans-serif; } }

#infoTicket {
  color: red;
  visibility: hidden;
  margin-left: 40px;
  font-family: "Roboto:black", sans-serif;
  margin-top: 0; }
  @media (min-width: 500px) {
    #infoTicket {
      width: 100%;
      margin: auto;
      text-align: center; } }

#tickets {
  color: white;
  font-family: "Roboto:black", sans-serif;
  margin-left: 40px;
  margin-top: 0;
  visibility: hidden; }
  #tickets #info {
    color: #ff8508;
    font-family: "Roboto:black", sans-serif;
    font-style: normal; }
  @media (min-width: 500px) {
    #tickets {
      width: 100%;
      margin: auto;
      text-align: center; } }

.nextStep, .nextStepEn {
  display: block;
  width: 250px;
  height: 45px;
  color: white;
  border: 3px solid white;
  text-transform: uppercase;
  margin: 100px auto 0 auto;
  text-decoration: none;
  font-family: "Roboto:black", sans-serif;
  text-align: center;
  line-height: 45px;
  z-index: 1000; }

.hvr-sweep-to-right {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff8508;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white; }

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.flash-notice {
  background-color: transparent;
  color: #ff8508;
  font-family: "Roboto:black", sans-serif;
  font-size: 0.9em;
  text-align: center;
  display: block;
  width: 300px;
  padding: 10px;
  margin: auto;
  border: 1px solid #ff8508; }
  @media (min-width: 500px) {
    .flash-notice {
      width: 100%;
      margin: auto;
      text-align: center; } }

/*# sourceMappingURL=style_date.css.map */
