@import "mixin.scss";

h3{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 5px;
    margin-left: 40px;
}

#date{
    visibility: hidden;
}

#containResume{
    border: 1px solid white;
    border-radius: 20px;
    width: 100%;
    padding: 5px;
    @include mobile{
    margin: auto;
    }
    #containUsers{
        display: flex;
        .user{
            color: white;
            margin-left: 40px;
            font-family: 'Poppins', sans-serif;
            width: 200px;
        }
        .cost{
            color: #2C1DEB;
            font-family: 'Poppins', sans-serif;
            margin: 30px 30px 0 10px;
            display: inline-block;
            background-color: white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
        }
        .type{
            color: white;
            font-family: 'Poppins', sans-serif;
            margin-left: 40px;
            width: 200px;
            font-size: 0.6em;
            display: inline-block;
        }
        #deleteUser{
            margin-top: 40px;
            input{
                background-color: orange;
                color: white;
                border: none;
                border-radius: 20px;
                height: 20px;
                width: 100px;
            }
        }
    }
}
.flash-notice{
    background-color: rgb(80, 160, 192);;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    text-align: center;
    display: block;
    width: 300px;
    padding: 10px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
}
.total{
    display: block;
    width: 450px;
    height: 30px;
    background-color: #2C1DEB;
    border-radius: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    text-align: center;
    line-height: 30px;
}
.cancel{
    color: grey;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6em;
    margin-top: 10px;
    display: block;
    width: 450px;
    height: 20px;
    text-align: center;
}


