@charset "UTF-8";
/* CSS Document */

@import "font";
@import "variables";
@import "mixin";

body{
    min-width: 450px;
}

h3{
    font-family  : $title;
    color        : white;
    margin-bottom: 5px;
    margin-left  : 40px;
}

#date{
    visibility: hidden;
}

#containResume{
    border : 3px solid white;
    width  : 90%;
    padding: 5px;
    margin : auto;
    #containUsers{
        display            : -webkit-box;
        display            : -ms-flexbox;
        display            : flex;
        -ms-flex-wrap      : wrap;
            flex-wrap      : wrap;
        -ms-flex-pack      : inherit;
            justify-content: space-around;
        -webkit-box-align  : center;
            -ms-flex-align : center;
                align-items: center;
        padding            : 10px;
        #infos{
            display               : -webkit-box;
            display               : -ms-flexbox;
            display               : flex;
            -webkit-box-orient    : vertical;
            -webkit-box-direction : normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-line-pack    : center;
                align-content     : center;
            .user{
                color             : $colorTitle;
                margin-bottom     : 0;
                margin-top        : 0;
                font-weight       : bolder;
                text-transform    : uppercase;
                font-family       : $title;
                width             : 200px;
            }
            .type{
                color      : white;
                font-family: $title;
                width      : 230px;
                font-size  : 0.7em;
                display    : inline-block;
            }
        }
        .cost{
            color           : black;
            font-family     : $subtitle;
            display         : inline-block;
            background-color: $colorTitle;
            border-radius   : 50%;
            width           : 40px;
            height          : 40px;
            text-align      : center;
            line-height     : 40px;
        }
        #deleteUser{
            margin-left: 40px;
            margin-top : 10px;
            input{
                background-color           : transparent;
                color                      : $colorSelect;
                border                     : 1px solid $colorSelect;
                height                     : 20px;
                width                      : 100px;
                -webkit-transition-property: color, border;
                transition-property        : color, border;
                -webkit-transition-duration: 0.5s;
                        transition-duration: 0.5s;
                &:hover{
                    color : white;
                    border: 1px solid white;
                }
            }
        }
    }
}

a#plus{
    text-decoration            : none;
    color                      : $colorTitle;
    font-family                : $title;
    font-size                  : 2.5em;
    border                     : 1px solid white;
    width                      : 30px;
    height                     : 30px;
    display                    : block;
    text-align                 : center;
    line-height                : 25px;
    border-radius              : 30px;
    margin                     : 20px auto;
    -webkit-transition-property: line-height, color, width, height, font-size;
    transition-property        : line-height, color, width, height, font-size;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    &:hover{
        color      : $colorSelect;
        width      : 50px;
        height     : 50px;
        font-size  : 3.5em;
        line-height: 40px;
    }
}

#add{
    color      : $colorTitle;
    font-family: $title;
    width      : 30%;
    height     : 30px;
    margin     : auto;
    text-align : center;
}

.flash-notice{
    background-color: transparent;
    color           : $colorSelect;
    font-family     : $title;
    font-size       : 0.9em;
    text-align      : center;
    display         : block;
    width           : 300px;
    padding         : 10px;
    margin          : auto;
    border          : 1px solid $colorSelect;
}
.flash-error{
    background-color: transparent;
    color           : red;
    font-family     : $title;
    font-size       : 0.9em;
    text-align      : center;
    display         : block;
    width           : 300px;
    padding         : 10px;
    margin          : auto;
    border          : 1px solid $colorSelect;
}
.total{
    display         : block;
    width           : 450px;
    height          : 30px;
    border          : 3px solid white;
    color           : black;
    background-color: $colorTitle;
    font-family     : $subtitle;
    margin-top      : 30px;
    margin-right    : auto;
    margin-left     : auto;
    text-align      : center;
    line-height     : 30px;
}
.cancel{
    color          : grey;
    text-decoration: none;
    font-family    : $subtitle;
    font-size      : 0.6em;
    margin-top     : 10px;
    margin-right   : auto;
    margin-left    : auto;
    display        : block;
    width          : 450px;
    height         : 20px;
    text-align     : center;
}


