/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  min-width: 450px; }

h3 {
  font-family: "Roboto:black", sans-serif;
  color: white;
  margin-bottom: 5px;
  margin-left: 40px; }

#date {
  visibility: hidden; }

#containResume {
  border: 3px solid white;
  width: 90%;
  padding: 5px;
  margin: auto; }
  #containResume #containUsers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: inherit;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px; }
    #containResume #containUsers #infos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-line-pack: center;
      align-content: center; }
      #containResume #containUsers #infos .user {
        color: white;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: "Roboto:black", sans-serif;
        width: 200px; }
      #containResume #containUsers #infos .type {
        color: white;
        font-family: "Roboto:black", sans-serif;
        width: 230px;
        font-size: 0.7em;
        display: inline-block; }
    #containResume #containUsers .cost {
      color: black;
      font-family: "Roboto:light", sans-serif;
      display: inline-block;
      background-color: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px; }
    #containResume #containUsers #deleteUser {
      margin-left: 40px;
      margin-top: 10px; }
      #containResume #containUsers #deleteUser input {
        background-color: transparent;
        color: #ff8508;
        border: 1px solid #ff8508;
        height: 20px;
        width: 100px;
        -webkit-transition-property: color, border;
        transition-property: color, border;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s; }
        #containResume #containUsers #deleteUser input:hover {
          color: white;
          border: 1px solid white; }

a#plus {
  text-decoration: none;
  color: white;
  font-family: "Roboto:black", sans-serif;
  font-size: 2.5em;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 25px;
  border-radius: 30px;
  margin: 20px auto;
  -webkit-transition-property: line-height, color, width, height, font-size;
  transition-property: line-height, color, width, height, font-size;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }
  a#plus:hover {
    color: #ff8508;
    width: 50px;
    height: 50px;
    font-size: 3.5em;
    line-height: 40px; }

#add {
  color: white;
  font-family: "Roboto:black", sans-serif;
  width: 30%;
  height: 30px;
  margin: auto;
  text-align: center; }

.flash-notice {
  background-color: transparent;
  color: #ff8508;
  font-family: "Roboto:black", sans-serif;
  font-size: 0.9em;
  text-align: center;
  display: block;
  width: 300px;
  padding: 10px;
  margin: auto;
  border: 1px solid #ff8508; }

.flash-error {
  background-color: transparent;
  color: red;
  font-family: "Roboto:black", sans-serif;
  font-size: 0.9em;
  text-align: center;
  display: block;
  width: 300px;
  padding: 10px;
  margin: auto;
  border: 1px solid red; }

.total {
  display: block;
  width: 450px;
  height: 30px;
  border: 3px solid white;
  color: black;
  background-color: white;
  font-family: "Roboto:light", sans-serif;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 30px; }

.cancel {
  color: grey;
  text-decoration: none;
  font-family: "Roboto:light", sans-serif;
  font-size: 0.6em;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 450px;
  height: 20px;
  text-align: center; }

form label {
  font-family: "Roboto:black", sans-serif;
  color: white;
  display: block;
  margin-bottom: 10px;
  margin-left: 10px; }
  @media (min-width: 500px) {
    form label {
      margin: 0 auto 10px; } }
form input {
  width: 300px;
  height: 45px;
  margin-left: 10px; }
  @media (min-width: 500px) {
    form input {
      margin: auto; } }
form .submit {
  width: 250px;
  height: 45px;
  color: white;
  border: 3px solid white;
  text-transform: uppercase;
  display: block;
  background-color: transparent;
  font-family: "Roboto:black", sans-serif;
  margin: 40px auto;
  font-size: 1em;
  z-index: 1000;
  visibility: hidden; }

p#emailerror {
  visibility: hidden;
  color: red;
  margin-left: 10px;
  font-family: "Roboto:black", sans-serif; }
  @media (min-width: 500px) {
    p#emailerror {
      width: auto;
      margin: auto;
      text-align: center; } }

/*# sourceMappingURL=style_checkOrder.css.map */
