@import "mixin.scss";
@import "style_date";


.mention{
    color: grey;
    font-size: 0.6em;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
}
.user{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
    strong{
        color: orange;
    }
}

.containFormUser, .addUser{
    margin-left: 40px;
}

label{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    display: block;
    width: 200px;
}
input{
    width: 300px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
}
#mv_bookingbundle_user_country{
    margin-bottom: 40px;
}

.submit{
    margin-bottom: 40px;
    background-color: rgb(255, 123, 0);
    border: none;
}

label .required{
    visibility: hidden;
}
